/* .form-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
} */

.form-container {
    display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 100vh;
  /* background-color: #f5f5f5; */
  /* flex-direction: column;s */
  overflow: scroll;
}

.form-control {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #ADADAD;
    padding-left: 0;
    font-size: 1.5rem;
    color: #121417;
    /* padding-top: 2rem; */
 
}

.form-control:focus {
    border-color: #f49d00;
    box-shadow: none;
}

label {
    font-size: 1.5rem;
}
textarea {
    resize: none;
  }


.form-dark {
    background: transparent;
    color: #ffffff;
}

.form-dark:focus {
    background: transparent;
    color: #ffffff;
}

.form-label-group label {
    color: #ADADAD;
}

.text-muted {
    color: #ffffff!important;
}

/* #btn-contact:focus, #btn-contact:active {
    background-color: #121417;
    border-color: #f49d00;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #f49d00;
    color:#f49d00;

} */

input:-internal-autofill-selected {
    background-color: #121417 !important;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
   
    -webkit-text-fill-color: #ffffff;
    -webkit-box-shadow: 0 0 0px 1000px #121417 inset;
    transition: background-color 5000s ease-in-out 0s;
}