body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #efefef;
    color: #333333;
}

h3, h2 {
    font-weight: 600;
}

/* quick style classes  */
.w600 {
    font-weight: 600;
}

.w700 {
    font-weight: 700;
}

/* navbar  */
.navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.blog-card img {
    width: 100%;
}

/* button  */
.btn-primary {
    /* background-color: #f49d00; */
    /* color: #f49d00;
    background-color: #333333; */
    /* background-color: #e93b30; */
   
border: none;
font-weight: 600;
}