body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #efefef;
    color: #121417;
    margin-bottom: 0;
    padding-bottom: 0;
}

h3, h2 {
    font-weight: 600;
}

h3 {
    font-size: 2rem;
}

/* quick style classes  */
.w600 {
    font-weight: 600;
}

.w700 {
    font-weight: 700;
}

/* navbar  */
#navigation {
    background-color: #16181D!important;
    font-size: 18px;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;

}

.blog-card img {
    width: 100%;
}

/* button  */
.btn-primary {
    background-color: #f49d00;
    color: #121417;
    /* background-color: #333333;  */
    /* background-color: #d9382e; */
   border: none;
   font-weight: 600;
}

.btn-primary:hover {
    color: #f49d00;
    background-color: #121417;
}

.footer {
    background-color: #121417;
    /* background-color: #16181D; */
    color: #fff;
    padding: 2rem;
    
}


.footer-last  {
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}

.footer-logo-text {
    font-size: 1.5rem;
    line-height: 1rem;
}
.footer-logo-text-sm {
    font-size: 1rem;
    /* color: #CCCCCC; */
    color: #f49d00;

    margin-top: 0.2rem;
    /* color: #E88982; */
    /* color: #d9382e; */
}

.footer a {
    /* color: #f49d00; */
    color: #cccccc;

}

.footer ul {
    padding: 0;
    list-style-type: none;
}


/* .footer ul li {
    list-style-type: disc;
    list-style: none;
    text-align: left;
} */


.sub-footer {
    background-color: #121417;
    color: #ffffff;
}

.sub-footer a {
    color: #f49d00;

}

